@import "header.css";
@import "about.css";
@import "services.css";
@import "works.css";
@import "";
@import "contact.css";
@import "";
@import "";

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    text-decoration: none;
    list-style: none;
}

body {
    font-family: proxima-nova, sans-serif;
}